
.gradle/2.4/taskArtifacts/taskArtifacts.bin

*.bin

*.bin

.idea/libraries/appcompat_v7_23_1_1.xml

.idea/libraries/design_23_1_1.xml

.idea/libraries/appcompat_v7_23_1_1.xml

.idea/libraries/design_23_1_1.xml

.idea/libraries/recyclerview_v7_23_1_1.xml

.idea/libraries/support_v4_23_1_1.xml

.idea/misc.xml

.idea/workspace.xml

.gradle/2.4/taskArtifacts/fileSnapshots.bin

.idea/libraries/appcompat_v7_23_1_1.xml

.gradle/2.4/taskArtifacts/cache.properties.lock

*.bin

.idea/libraries/appcompat_v7_23_1_1.xml

.idea/libraries/design_23_1_1.xml

.idea/libraries/recyclerview_v7_23_1_1.xml

.idea/libraries/support_v4_23_1_1.xml

.idea/misc.xml
